.preserve-whitespace {
    white-space: pre;
}

.title {
    font-family: "Roboto", serif;
    text-align: center;
}

.game {
    margin-left: 25%;
    margin-right: 25%;
}

.choice {
    background-color: rgb(45, 126, 231);
    border-radius: 20px;
    font-family: "Roboto", serif;
    text-align: center;
    font-size: 20px;

    border-width: 15px;
    border-style: solid;
    border-color: black;
}

.winner-display {
    background-color: rgb(45, 126, 231);
    border-radius: 20px;
    font-family: "Roboto", serif;
    text-align: center;
    font-size: 20px;

    border-width: 15px;
    border-style: solid;
    border-color: black;
    padding: 20px;
}

.raise:hover {
    background: darkgreen;
}

.subtitle {
    padding-top: 20px;

}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 20px;
    transition-duration: 0.4s;
}

.button {
    /* Green background */
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    cursor: pointer;
    margin: 15px;
    border-radius: 20px;
}

.roboto-regular {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
}

.rotate-ccw-90-deg {
    /* Rotate element 90 degrees counterclockwise */
    transform: rotate(-90deg);
}

.scoreboard {
    width: 75%;
    border-collapse: collapse;
    margin: auto;
}

th,
td {
    padding: 5px 5px 5px;
}

tr {
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #D6EEEE;
}

.right-align {
    text-align: right;
}

.center-align {
    text-align: center;
}

.divider {
    margin: 20px;
}