.preserve-whitespace {
    white-space: pre;
}

.title {
    text-align: center;
}

.game {
    margin-left: 15%;
    margin-right: 15%;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button {
    /* Green background */
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin: 15px;
}

.roboto-regular {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
}